<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dolore tempora eius ab, necessitatibus veniam libero ipsum aliquam maxime voluptas odit assumenda expedita est architecto perspiciatis placeat deserunt similique consequatur!
    Totam, ab dolor mollitia voluptatibus repellat, non rem voluptatem voluptates iure perferendis maiores et quam accusantium ipsum dignissimos, eos unde nam! Quos vel consequuntur nihil asperiores accusantium reiciendis ipsam veritatis!
    Cupiditate facere consequuntur culpa officiis inventore, nemo nam expedita a amet dolor odio perferendis harum mollitia distinctio placeat quos vero est fuga, voluptatem nisi. Facere delectus asperiores ipsum. Sed, odio.
    Sunt, possimus omnis. Itaque aut cum facere, a exercitationem recusandae, praesentium earum error, voluptas ducimus accusantium quia tempora voluptatem iure ea eveniet est nostrum nobis saepe architecto. Voluptatibus, sed commodi!
    Aperiam ut enim totam eius facere sint vero ipsam veniam, nemo optio exercitationem eum voluptas sit ipsum quaerat sed debitis? Suscipit error debitis pariatur aperiam distinctio? Earum ipsa distinctio voluptatem.</p>
<button>click me</button>
</body>
</html>