body{
    text-align: center;
    align-items: center;
}

h3{
    text-align: center;
}

 #Bent{
    align-items: center;
    text-align: center;
}


 div{
    height: 100px;
    width: 500px;
    border: 1px solid   black;
    margin: auto;
    margin-top: 10%;
    text-align: center;
 }


