*{
    background-color: black;
    color: aliceblue;
}

h1{
    color: aqua;
    font-weight: bold;
}

#post{
    background-color: rgb(13, 5, 5);
}   

#content{
    color: rgb(125, 144, 144);
    background: #000;
}